/*html {font-size: 80%;}  keep w/ forcerc.com */

/* flexbox classes */
.flex-it {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -moz-box-wrap: nowrap;
  -webkit-box-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
  -ms-flexbox-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  max-width: 100%;
}
.flex-row {
  -moz-box-direction: row;
  -webkit-box-direction: row;
  -webkit-box-orient: horizontal;
  -webkit-flex-direction: row;
  -ms-flexbox-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.flex-col {
  -moz-box-direction: column;
  -webkit-box-direction: column;
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flexbox-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.flex-align-between {
  -webkit-box-align-content: space-between;
  -webkit-align-content: space-between;
  -ms-flex-align-content: space-between;
  align-content: space-between;
}
.flex-align-center {
  -webkit-box-align-content: center;
  -webkit-align-content: center;
  -ms-flex-align-content: center;
  align-content: center;
}
.flex-align-start {
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}
.flex-align-item-start {
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
}
.flex-align-item-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -moz-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.flex-start-all {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
  -webkit-box-align: flex-start;
  -webkit-align-items: flex-start;
  -moz-box-align: flex-start;
  -ms-flex-align: flex-start;
  align-items: flex-start;
  -webkit-box-align-content: flex-start;
  -webkit-align-content: flex-start;
  -ms-flex-align-content: flex-start;
  align-content: flex-start;
}
.flex-align-item-stretch {
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -moz-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
}
.flex-justify-between {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: space-between;
}
.flex-justify-center {
  -webkit-box-pack: justify;
  -webkit-justify-content: center;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: center;
}
.flex-justify-start {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-start;
}
.flex-justify-end {
  -webkit-box-pack: justify;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: justify;
  -moz-box-pack: justify;
  justify-content: flex-end;
}
.flex-justify-around {
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around
}
.flex-wrap {
  -moz-box-wrap: wrap;
  -webkit-box-wrap: wrap;
  -webkit-flex-wrap: wrap;
  -ms-flexbox-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}
.flex-item-auto {
  -webkit-box-basis: auto;
  -webkit-flex-basis: auto;
  -ms-flex-basis: auto;
  flex-basis: auto;
  -webkit-box-flex: 1;
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex: 1;
  /* OLD - Firefox 19- */
  -webkit-flex: 1;
  /* Chrome */
  -ms-flex: 1 0 auto;
  /* IE 10 */
  flex: 1;
}
/* end flexbox classes */
[role="nav"] {
  margin: 0;
  padding: 0;
  list-style: none;
}
[role="nav"] li {
  display: inline-block;
  padding: 5px 10px;
}
[draggable] {
  user-select: none;
}
#app {
  position: relative;
  max-width: 1000px;
  padding: 10px;
  border: 1px solid #999;
  margin: 0 auto;
}
#app:after {
  display: table;
  height: 0;
  content: '';
  clear: both;
}
#app >div > div:first-of-type {
  position: absolute;
  top: -40px;
}
#app a {
  display: inline-block;
  max-width: 195.6px;
  float: left;
  padding: 2px;
}
#app img {
  width: 100%;
  height: auto;
}

#app h2, #app section {
  display: none;
}
#app .dragging-over {
  z-index: 10;
}
#app .dragging-over img {
  outline: 1px solid darkgray;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
}
#app textarea {
  width: 100%;
  height: 550px;
  padding: 10px;
}

.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
}

.icon-edit {
  font-size: 16px;
  color: #555;
  background-color: rgba(0,0,0,0);
}
[href="#close"] .icon-edit {
  color: #999;
}
.editable-item {
  position: relative;
}
.toolbar {
  position: absolute;
  top: 2px;
  right: 2px;
  display: none;
  width: 100%;
}
.toolbar i {
  display: inline-block;
  line-height: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
}
i:hover {
  cursor: pointer;
}
.homepage .editable-item {
  display: inline-block;
}
.homepage .toolbar {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}
.edit-box {
  position: relative;
}
.edit-box > div {
  background-color: white;
  padding: 30px;
  width: 100%;
  min-height: 100%;
}
#slider > a:last-of-type .edit-box,
#slider > a:last-of-type .edit-box > div {
  left: auto;
  right: 0;
}
.edit-box label {
  text-transform: uppercase;
}
.edit-box input, .edit-box button {
  margin-bottom: 10px;
}
.edit-box [title="Close"] {
  position: absolute;
  top: 10px;
  right: 10px;
}

.editable-item:hover .toolbar {
  display: inline-block;
}
.main_content *, .main_content *::before, .main_content *::after {
  box-sizing: border-box;
}
.main_content *, .main_content *::before, .main_content *::after {
  box-sizing: border-box;
}
.main_content {
  background-color: white;
  margin: 0 auto;
  max-width: 960px;
  min-height: 300px;
  padding: 0 0 48px;
  font-size: 0.8125em;
}
.main_content div {
  position: relative;
}
.lev1_merch_poptitle {
  overflow: hidden;
  position: relative;
}
.popTitle::before {
  background: #0184c3 none repeat scroll 0 0;
  content: "";
  display: block;
  font-family: fontawesome;
  font-size: 15px;
  margin-top: -0.95em;
  padding: 1.25% 2% 1.25% 2.5%;
  position: absolute;
  right: 2.5%;
  top: 50%;
}

.popTitle {
  background: rgba(0, 0, 0, 0.7) none repeat scroll 0 0;
  bottom: -4em;
  color: #fff;
  display: block;
  font-size: 1.45em;
  left: 0;
  padding: 3% 12% 3% 2%;
  position: absolute;
  transition: bottom 0.5s ease 0s;
  width: 100%;
  z-index: 10;
}
.lev1_merch_poptitle a:hover .poptitle {
  bottom: 0;
}

.text-center {
  text-align: center;
}

.top-bar .react-link {
  color: #00d8ff;
  display: inline-block;
  font-size: 24px;
  height: 38px;
  font-family: proxima-nova,"Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
  padding: 0 1rem 0 0;
}
.top-bar .react-link img {
  display: inline-block;
  vertical-align: middle;
}
