[draggable] {
  user-select: none;
}
#app {
  max-width: 1000px;
  padding: 10px;
  border: 1px solid #999;
  margin: 0 auto;
}
#app:after {
  display: table;
  height: 0;
  content: '';
  clear: both;
}
#app a {
  display: inline-block;
  max-width: 196px;
  float: left;
  padding: 2px;
}
#app img {
  width: 100%;
  height: auto;
}

#app h2, #app section {
  display: none;
}
#app .dragging-over {
  z-index: 10;
}
#app .dragging-over img {
  outline: 1px solid darkgray;
  box-shadow: 0 0 5px 0 rgba(0,0,0,.6);
}
#app textarea {
  width: 100%;
  height: 500px;
  padding: 10px;
}
